<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Practica No.3</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/pos.css" rel="stylesheet" />  
    <link href="~/Content/style.css" rel="stylesheet" /> 
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index", "Index")">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("IndexAcerca", "Acerca")">Acerca de...</a>
                    </li>
                </ul>
                <form class="form-inline mt-2 mt-md-0" action="@Url.Action("Index", "Login")">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar Sesión</button>
                </form>
                <form class="form-inline mt-4 mt-md-0" action="@Url.Action("Index", "Registrar")">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registrarse</button>
                </form>
            </div>
        </nav>
    </header>
    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <div class="container-fluid">
            <div class="row">
                <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Menu <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "ConsultarSaldo")">Consultar Saldo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Credito")">Solicitar Crédito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Transferencia")">Realizar Transferencia</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="jumbotron">
            <h1 class="display-4">Solicitar Crédito</h1>
        </div>
        <form class="formulario" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="txtMonto" class="col-form-label">Monto:</label>
                <input type="text" class="form-control" id="txtMonto" name="txtMonto">
            </div>
            <div class="form-group">
                <label for="txtDescripcion" class="col-form-label">Descripción:</label>
                <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion">
            </div>
            <div class="form-group">
                <label for="txtNoCuenta" class="col-form-label">Número de Cuenta:</label>
                <input type="text" class="form-control" id="txtNoCuenta" name="txtNoCuenta">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" value="guardar" name="_guardar">Guardar</button>
            </div>
        </form>
    </main> 
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019 Sistema Bancario, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script type="text/javascript">

    </script>
</body>
</html>
